<div style-"text-align: center">
  <%= image_tag 'wundereel_logo.png' %>
</div>
<section>
  <div class="form-container">

      <div class="form-progress clearfix" style="font-size: 18px;">
        <div class="clearfix" style="text-align: right;">
          <span style="display: inline-block; width: 3em; border-bottom: 1px solid black; float: left;">
            1
          </span>
          <span style="display: inline-block; width: 3em; border-bottom: 1px solid lightgray;color: lightgray; float: left">
            2
          </span>
        </div>
        <div style="text-transform: uppercase">Part One: Choose Your Videos</div>
      </div>

      <hr></hr>



<%= simple_form_for(@job, url: create_videos_jobs_create_index_url) do |f| %>
  <%= f.error_notification %>

  <h2>Choose raw video files &mdash; more is better, we’ll cut out the junk.</h3>

  <div class="form-group has-error">
    <%= f.error :files %>
  </div>

    <% @videos.values.chunk {
      |v| Date.parse(v['modified']).strftime("%Y %M")
    }.sort_by { |k, v| k }.reverse.each do |week, videos| %>

      <div class="clearfix">
      <h4 class="page-header">
        <% video_week_start = Date.parse(videos.first['modified']).beginning_of_week %>
        <% if DateTime.now.beginning_of_week.to_date == video_week_start %>
          This Week
        <% elsif DateTime.now.beginning_of_week.to_date - 7.days == video_week_start %>
          Last Week
        <% else %>
          Week of <%= video_week_start.strftime("%B %-d, %Y") %>
        <% end %>
      </h4>
      <% videos.each do |v| %>
        <% is_selected =@job.files.any? { |video| v['original_path'] == video['path'] } %>

        <div class="video-card-cell">
          <div
            class="video-card<%= is_selected ? " is-selected" : ""%>"
            title="<%= v['path'] %>"
          >

            <%= check_box(
              'job_files',
              'original_path',
              {
                id: "select-video-#{v['path']}",
                multiple: true,
                checked: is_selected,
                class: 'hidden'
              },
              v['path']
            ) %>
            <div class="video-card__thumbnail">
              <div class="video-card__thumbnail-frame">
                <img src="<%= db_thumb_path v['path'] %>" >
              </div>
            </div>
            <div class="video-card__thumbnail-caption">
              <div class="video-card__thumbnail-duration">
                <% if v['duration'] %>
                  <%= Time.at(v['duration']/1000).utc.strftime("%H:%M:%S") %>
                <% end %>
              </div>
              <div class="video-card__thumbnail-filename">
                <%= truncate(v['path'].split('/')[-1], length: 30) %>
              </div>
            </div>
            <div class="selected-circle">
              <span class="checkmark glyphicon glyphicon-ok"></span>
            </div>
          </div>
        </div>

      <% end %>
      </div>
    <% end %>

  <hr />
  <div class="form-actions">
    <%= f.button :submit, "Add Some Detail", class: "btn btn-primary"  %>
  </div>
<% end %>

</div>
</section>

<script>
$(document).ready(function() {
  $('.video-card').click(function(event) {
    var $card  = $(event.currentTarget);
    $card.toggleClass('is-selected');
    $card.find(':checkbox').each(function () { this.checked = !this.checked; });
  });
  $('.video-select-table tbody tr').click(function(event) {
    if (event.target.type !== 'checkbox') {
      $(':checkbox', this).trigger('click');
    }
  });
});
</script>
