<section>
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
<h1 class="page-header">Create a new Wundereel</h1>

<%= simple_form_for(@job, url: create_videos_jobs_create_index_url) do |f| %>
  <%= f.error_notification %>

  <h3>Choose raw video files &mdash; more is better, we’ll cut out the junk.</h3>

  <div class="form-group has-error">
    <%= f.error :files %>
  </div>

    <% @videos.values.chunk {
      |v| Date.parse(v['modified']).strftime("%Y %M")
    }.sort_by { |k, v| k }.reverse.each do |week, videos| %>

      <div class="clearfix">
      <h4 class="page-header">
        <% video_week_start = Date.parse(videos.first['modified']).beginning_of_week %>
        <% if DateTime.now.beginning_of_week.to_date == video_week_start %>
          This Week
        <% elsif DateTime.now.beginning_of_week.to_date - 7.days == video_week_start %>
          Last Week
        <% else %>
          Week of <%= video_week_start.strftime("%B %-d, %Y") %>
        <% end %>
      </h4>
      <% videos.each do |v| %>
        <% is_selected =@job.files.any? { |video| v['original_path'] == video['path'] } %>

        <div
          class="video-card<%= is_selected ? " is-selected" : ""%>"
          title="<%= v['path'] %>"
        >
          <%= check_box(
            'job_files',
            'original_path',
            {
              id: "select-video-#{v['path']}",
              multiple: true,
              checked: is_selected,
              class: 'hidden'
            },
            v['path']
          ) %>
          <div class="video-card__thumbnail">
            <div class="video-card__thumbnail-frame">
              <img src="<%= db_thumb_path v['path'] %>" >
            </div>
            <div class="video-card__thumbnail-duration">
              <% if v['duration'] %>
                <%= Time.at(v['duration']/1000).utc.strftime("%H:%M:%S") %>
              <% end %>
            </div>
          </div>

          <div class="video-card__thumbnail-caption">
            <small>
              <%= v['path'].split('/')[0...-1].join('/') + "/" %>
            </small>
            <div>
              <%= truncate(v['path'].split('/')[-1], length: 30) %>
            </div>
          </div>
        </div>

      <% end %>
      </div>
    <% end %>

  <br />
  <div class="form-actions">
    <%= f.button :submit, "Show me the Wunder!", class: "btn btn-primary"  %>
  </div>
<% end %>

</div>
</section>

<script>
$(document).ready(function() {
  $('.video-card').click(function(event) {
    var $card  = $(event.currentTarget);
    $card.toggleClass('is-selected');
    $card.find(':checkbox').each(function () { this.checked = !this.checked; });
  });
  $('.video-select-table tbody tr').click(function(event) {
    if (event.target.type !== 'checkbox') {
      $(':checkbox', this).trigger('click');
    }
  });
});
</script>
