<% config = {
  hero: {
    head: "Capture all the wedding fun!",
    tagline: "Your friends shoot your wedding and we make it come to life, starting at $400.",
    img: 'wedding.jpg'
  },
  how_it_works: [
    {
      img: "landing/icons/wedding_altar-80.png",
      tagline: "Your friends shoot your wedding with our GoPros."
    },
    {
      img: "landing/icons/edit_camera-80.png",
      tagline: "Our video pros make an awesome film from the footage."
    },
    {
      img: "landing/icons/play-80.png",
      tagline: "You share the video with everyone in as little as a week!"
    }
  ],
  in_action: [
    {
      title: "Check out highlights Brandon and Shelly's Laguna Beach wedding!",
      quote: "Wundereel makes it SO EASY! They picked all the best shots and I didn't have to tell them a thing!",
      author: "Shelly S.",
      video: "//player.vimeo.com/video/139874045"
    },
    {
      title: "See how much fun you can capture in Wine Country at Mike and Ashley's wedding!",
      quote: "It was so awesome to have four cameras going the whole night! We didn't miss a single moment of our entire weekend!",
      author: "Ashley F.",
      video: "//player.vimeo.com/video/143571739"
    },
    {
      title: "Check out Carrie and Dave's wedding in a spectacular beachside retreat!",
      quote: "Everyone loved the video! The first thing all my friends did was comb over it and send their favorite clips to all of us.",
      author: "Carrie K.",
      video: "//player.vimeo.com/video/126947302"

    }

  ]

}
%>
<%= content_for :navigation do %>
  <%= render 'wedding_nav' %>
<% end %>

<%= content_for :lead_form do %>
  <%= simple_form_for InterestedPerson.new, remote: true, format: :json, data: { successelement: 'lead_submit_success'} do |f| %>
    <h3>We're excited to make a wedding video that you'll love.</h3>
    <h4>Let us know how to contact you so we can schedule your package. </h4>
    <%= f.hidden_field :source, value: "wedding_lead" %>

    <div class="form-group string interested_person_name">
      <%= f.input_field :name,
        class: 'form-control',
        placeholder: "Your Name",
        as: :string
      %>
    </div>
    <div class="form-group string interested_person_email">
      <label class="control-error-label">That email doesn't look right</label>
      <%= f.input_field :email,
        class: 'form-control',
        placeholder: "your.email@example.com",
        as: :string
      %>
    </div>
    <div class="form-group string interested_person_phone">
      <%= f.input_field :phone,
        class: 'form-control',
        placeholder: "(888) 867-5309",
        as: :string
      %>
    </div>
    <div class="form-group string interested_person_phone">
      <%= f.input_field :questions,
        class: 'form-control',
        placeholder: "Any questions?",
        as: :text
      %>
    </div>
    <div class="form_group">
      <%= f.input :package, include_blank: false, collection: [
        "Custom", "Editing Only - $149", "Shoot It Yourself - $499", "Capture It All - $999"]
      %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Get in touch", class: "btn btn-primary"  %>
    </div>
  <% end %>
  <div class="email-signup-success hidden" id="lead_submit_success">
    <h3>Thanks!</h3>
    <h4>We'll reach out (within one business day) to set you up with a wedding video package you'll love!</h4>
  </div>
<% end %>

<%= content_for :additional_sections do %>
  <%= render 'wedding_packages' %>
<% end %>

<%= render 'skeleton', config: config %>
