<section>
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
<h1>New Job</h1>



<%= simple_form_for(@job) do |f| %>
  <%= f.error_notification %>

  <%= f.input :title %>
  <%= f.input :notes %>
  <%= f.input :music, collection: ['Blues & Bluegrass', 'Jazz', 'Tub thumping'] %>
  <%= f.input :share_emails, label: "Add emails to share it with (One per line)" %>
  <%= f.input :names_in_reel, label: "Name the people in this video (One per line)" %>

  <% @videos.values.chunk {
      |v| Date.parse(v['modified']).strftime("%Y %M")
    }.sort_by { |k, v| k }.reverse.each do |week, videos| %>

    <h4 class="page-header">
      <% video_week_start = Date.parse(videos.first['modified']).beginning_of_week %>
      <% if DateTime.now.beginning_of_week.to_date == video_week_start %>
        This Week
      <% elsif DateTime.now.beginning_of_week.to_date - 7.days == video_week_start %>
        Last Week
      <% else %>
        Week of <%= video_week_start.strftime("%B %-d, %Y") %>
      <% end %>
    </h4>
    <% videos.each do |v| %>
      <div class="checkbox">
        <label>
          <%= check_box 'job_files', 'original_path', {multiple: true},  v['path'] %>
          <span class="video-durastion">
            <%= Time.at(v['video_info']['duration']/1000).utc.strftime("%H:%M:%S") %>
          </span>
          &nbsp;
          <span class="video-path"
                title="<%= v['path'].split('/')[0...-1].join('/') + "/" %>"
          >
            <%= truncate(v['path'].split('/')[-1], length: 30) %>
          </span>
        </label>
      </div>
    <% end %>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<%= link_to 'Back', jobs_path %>

</div>
</section>
