<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Make Your Wundereel" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Make Your Wundereel" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/favicons' %>
  </head>
  <body>
    <%= yield %>
  </body>
  <%= render 'layouts/olark' %>
</html>
